{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/filename-case": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "unicorn/catch-error-name": 0,
    "array-callback-return": 0,
    "no-process-exit": 0,
    "unicorn/no-process-exit": 0,
    "object-curly-spacing": "off",
    "semi": "off"
  }
}
